html, body{
  margin: 0;
  padding: 0;
}
.App {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: small;
  margin: 0;
}
